In [291]:
from bs4 import BeautifulSoup as bs
import requests
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import pandas as pd

In [340]:
title = []
article_text = []

In [341]:
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome(options=chrome_options)
driver.get('https://redplanetscience.com/')
html = driver.page_source
soup = bs(html)

In [342]:
for tag in soup.find('div',class_='content_title'):    
    title.append(tag)
print(title)
for x in soup.find('div',class_='article_teaser_body'):
    article_text.append(x)
print(article_text)

["NASA's Mars Perseverance Rover Gets Its Sample Handling System"]
['The system will be collecting and storing Martian rock and soil. Its installation marks another milestone in the march toward the July launch period.']

In [308]:
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome(options=chrome_options)
driver.get('https://spaceimages-mars.com/')
html2 = driver.page_source

soup = bs(html2)

In [309]:
featured_image_url = []
for j in soup.find('a',class_='showimg fancybox-thumbs')['href']:
    
    featured_image_url.append(j)
    #print(j)
print(featured_image_url)

['i', 'm', 'a', 'g', 'e', '/', 'f', 'e', 'a', 't', 'u', 'r', 'e', 'd', '/', 'm', 'a', 'r', 's', '3', '.', 'j', 'p', 'g']

In [310]:
for x in range(len(featured_image_url)):
    featured_image_url_cleaned = ''.join([str(n) for n in featured_image_url])

In [311]:
featured_image_url_cleaned

'image/featured/mars3.jpg'

In [313]:
featured_image_url_final = f'https://spaceimages-mars.com/{featured_image_url_cleaned}'

In [314]:
featured_image_url_final

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [209]:
url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [215]:
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [218]:
df = tables[1]
df.head(10)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [223]:
df1 = df.transpose()

In [224]:
df1

,0,1,2,3,4,5,6,7,8
0,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
1,"6,792 km","6,752 km",6.39 × 10^23 kg (0.11 Earths),2 ( Phobos & Deimos ),"227,943,824 km (1.38 AU)",687 days (1.9 years),-87 to -5 °C,2nd millennium BC,Egyptian astronomers

In [225]:
df1.to_html('table.html')

In [282]:
#chrome_options = Options()
#chrome_options.add_argument("--headless")
driver = webdriver.Chrome(options=chrome_options)
driver.get('https://marshemispheres.com/')
html3 = driver.page_source

soup = bs(html3)

In [283]:
hemisphere_image_urls = []
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

driver.find_element(By.XPATH, '//*[@id="product-section"]/div[2]/div[1]/div/a').click()
driver.find_element(By.XPATH, '//*[@id="wide-image-toggle"]').click()
cerberus_url = driver.find_element(By.XPATH, '//*[@id="wide-image"]/img')
cerberus_url= cerberus_url.get_attribute('src')

Cerberus_image_dict={'title':"Cerberus Hemisphere",'img_url':cerberus_url}

driver.back()
driver.find_element(By.XPATH, '//*[@id="product-section"]/div[2]/div[2]/div/a').click()
driver.find_element(By.XPATH, '//*[@id="wide-image-toggle"]').click()
Schiaparelli_Hemisphere_url = driver.find_element(By.XPATH, '//*[@id="wide-image"]/img')
Schiaparelli_Hemisphere_url= Schiaparelli_Hemisphere_url.get_attribute('src')

Schiaparelli_image_dict={'title':"Schiaparelli Hemisphere",'img_url':Schiaparelli_Hemisphere_url}
driver.back()
driver.find_element(By.XPATH, '//*[@id="product-section"]/div[2]/div[3]/div/a').click()
driver.find_element(By.XPATH, '//*[@id="wide-image-toggle"]').click()
Syrtis_Major_Hemisphere_url = driver.find_element(By.XPATH, '//*[@id="wide-image"]/img')
Syrtis_Major_Hemisphere_url= Syrtis_Major_Hemisphere_url.get_attribute('src')

Syrtis_image_dict={'title':"Syrtis Major Hemisphere",'img_url':Syrtis_Major_Hemisphere_url}
driver.back()
driver.find_element(By.XPATH, '//*[@id="product-section"]/div[2]/div[4]/div/a').click()
driver.find_element(By.XPATH, '//*[@id="wide-image-toggle"]').click()
Valles_Marineris_Hemisphere_url = driver.find_element(By.XPATH, '//*[@id="wide-image"]/img')
Valles_Marineris_Hemisphere_url= Valles_Marineris_Hemisphere_url.get_attribute('src')

Valles_image_dict={'title':"Valles Marineris Hemisphere",'img_url':Valles_Marineris_Hemisphere_url}
hemisphere_image_urls=[Cerberus_image_dict,Schiaparelli_image_dict,Syrtis_image_dict,Valles_image_dict]

In [284]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [346]:
scraped = {'Latest Mars News':[title,article_text],'Featured Mars Image':featured_image_url_final,'Mars Facts':df1,'Mars Hemispheres':hemisphere_image_urls}
scraped

{'Latest Mars News': [["NASA's Mars Perseverance Rover Gets Its Sample Handling System"],
  ['The system will be collecting and storing Martian rock and soil. Its installation marks another milestone in the march toward the July launch period.']],
 'Featured Mars Image': 'https://spaceimages-mars.com/image/featured/mars3.jpg',
 'Mars Facts':                       0                1                              2  \
 0  Equatorial Diameter:  Polar Diameter:                          Mass:
 1              6,792 km         6,752 km  6.39 × 10^23 kg (0.11 Earths)

                        3                         4                     5  \
 0                 Moons:           Orbit Distance:         Orbit Period:
 1  2 ( Phobos & Deimos )  227,943,824 km (1.38 AU)  687 days (1.9 years)

                       6                  7                     8
 0  Surface Temperature:      First Record:          Recorded By:
 1          -87 to -5 °C  2nd millennium BC  Egyptian astronomers  ,
 'Mars Hemispheres': [{'title': 'Cerberus Hemisphere',
   'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere',
   'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere',
   'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere',
   'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}